@page "/counter"
@using System.Reflection

<PageTitle>Counter</PageTitle>

<h4>直接调用组件</h4>
<BlazorMarkdownApp.Demos.Button.Color></BlazorMarkdownApp.Demos.Button.Color>

<br />

<h4>通过Assembly</h4>
@Demo

<MarkdownIt Source="@demoCode"></MarkdownIt>

@code {

    RenderFragment Demo { get; set; }

    string demoType = $"Demos.Button.Color";

    string demoCode = @"
```razor
<Button>Default Blue</Button>
<Button Color=""red"">Custom Red</Button>
```
";

    protected override void OnInitialized()
    {
        base.OnInitialized();

        var executingDemoTypeStr = $"{Assembly.GetExecutingAssembly().GetName().Name}.{demoType}";
        Console.WriteLine($"executingDemoTypeStr:{executingDemoTypeStr}");
        var executingDemoType = Type.GetType(executingDemoTypeStr);

        Demo = builder =>
        {
            builder.OpenComponent(0, executingDemoType);
            builder.CloseComponent();
        };
    }

}
