@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

<MasaMarkdownIt Source="@demoCode"></MasaMarkdownIt>

@code {

    string demoCode = @"
# Button

## Demos

### Props

#### Color

[alert:type]:#(error)
[alert:childContent]:# (If this line contains whitespace, how to split?)

[example]:#(Demos.Button.Color)

```razor
<Button>Default Blue</Button>
<Button Color=""red"">Custom Red</Button>
```

";

}
